[Connection]
adapter  = "mysql"
encoding = "utf8"
host     = "localhost"
username = "username"
password = "password"
port     = "3306"

[Databases]
  [Databases.local_development]
  database = "local_dev"

  [Databases.development]
  database = "dev"

  [Databases.test]
  database = "test"

  [Databases.production]
  database = "production"
  host     = "0.0.0.0"
  username = "username"
  password = "password"
